{
    "rules": {
        "eqeqeq": "off",
        "semi": "off",
        "curly": "error",
        "quotes": [
            "error",
            "double"
        ]
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "es6": true
    }
}